.search_digimon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.search_digimon input {
    width: 25%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search_digimon button {
    background: #fff;
    color: red;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
}
.search_card {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}
.search_card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}